@import 'functions';

//Add standard panel styling to an element
@mixin panel($skipPaddingsAndMargin:false) {
  //W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  background: radial-gradient(250px 150px ellipse at left top, #ffffff 0%,#ffffff 48%,#ffffff 48%,#dfdfdf 100%);

  @if $skipPaddingsAndMargin == false {
    padding: 4px 5px;
    margin:5px 5px 0;
  }

  border: 1px solid #CCC;
  box-sizing: border-box;
  border-radius:3px;
}

/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-direction($direction)}: ($size * 1.5) solid $color;
  margin-top:- $size;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

//Accessible off-screen content
@mixin offscreen() {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
