@import "susy/sass/susy";

@import "mixins";


@import "blocks/contextMenu";
@import "blocks/contextMenuHolder";
@import "blocks/dataMenu";
@import "blocks/systemView";
@import "blocks/tabs";
@import "blocks/window";
@import "blocks/windowing";

body, html {
  padding: 0;
  margin: 0;
  background: #FFF;
  height:100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
