@import "../mixins";

.window {
  @include panel(true);
  overflow: hidden;
  position: absolute;

  &-header {
    color: #FFF;
    background: #666;
    padding:4px 5px;
    font-weight: bold;
    font-size: 1.4rem;

    &_isFocussed {
      background: #3333DD;
    }

    &_draggable_true {
      cursor: pointer;
    }
  }
}
